{% extends 'home/base.html' %}

{% block BASE_CONTENIDO %}

    <div class="row align-items-center my-5">
        <h1 class="pb-lg-3 text-bg-secondary">
            {% block INDEX_TITULO %}
                Inicio de página
            {% endblock INDEX_TITULO %} 
        </h1>
    </div>
    

    {% block INDEX_CONTENIDO %}

    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Administración Córdoba-I</h1>
            <p>Soluciones en negocios inmobiliarios</p>
            <a class="btn btn-primary" href="https://wa.me/54915555700021" target="_blank">Contactanos</a>
        </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        
        {% include 'home/card.html' with card="Departamento en Tacuarí"%}

    </div>
    {% endblock INDEX_CONTENIDO %}
{% endblock BASE_CONTENIDO %}
