{% extends 'home/index.html' %}

{% block INDEX_TITULO %}
    Propiedades:
{% endblock INDEX_TITULO %}

{% block CONTENIDO %}
    <!-- Todas las propiedades-->
    <h3 class = "pb-lg-3">Propiedades en vista:</h3>
        <div class = "d-grid gap-3">
            {% if user.is_staff %}
                <a href="{% url 'producto:CategoriaPropiedad_create' %}" class="btn btn-primary"> Agregar propiedad</a>
            {% endif %}
                <br>
                <a href="{% url 'producto:CategoriaPropiedad_list' %}" class="btn btn-primary"> Lista de propiedades</a>
                <br>
        </div>
    <h3 class = "pb-lg-3">Propiedades</h3>
        <div class = "d-grid gap-3">
            {% if user.is_staff %}
                <a href="{% url 'producto:CategoriaPropiedad_create' %}" class="btn btn-primary"> Agregar propiedad</a>
            {% endif %}
                <br>
                <a href="{% url 'producto:CategoriaPropiedad_list' %}" class="btn btn-primary"> Lista de propiedades</a>
                <br>
        </div>
    {% include 'home/index_back.html' %}
{% endblock CONTENIDO%}