{% extends 'producto/index.html' %}

{% block INDEX_TITULO %}
   Lista de propiedades
{% endblock INDEX_TITULO %}

{% block CONTENIDO %}
    {% if <object_list> %}
        <div class="py-lg-4">
            <form action="{% url 'producto:Propiedad_List' %}" method="get">
                <input type="text" name="Consulta" placeholder="Buscar:...">
            </form>
        </div>
        {% for object in object_list %}
            <ul>
                <li>{{ categoria.nombre }} ${{ object.precio }}
                    <a href="{% url 'producto:Propiedad_detail'object.id %}" class="btn btn-secondary btn-sm">
                    Ir al detalle"></a>
                    <a href="{% url 'producto:Propiedad_update'object.id %}" class="btn btn-primary btn-sm"
                    >Actualizar"></a>
                    <a href="{% url 'producto:Propiedad_delete'object.id %}" class="btn btn-danger btn-sm"
                    >Eliminar"></a>
                </li>
            </ul>
        {% endfor %}        
    {% else %}
        <p class="fs-4 fst-italic ">No hay propiedades</p>
    {% endif %}
    {% include 'home/index_back.html' %}
{% endblock CONTENIDO%}