{% extends 'producto/index.html' %}

{% block INDEX_TITULO %}
    Detalles de propiedades:
{% endblock INDEX_TITULO %}

{% block CONTENIDO %}
    
    <ul>
        <li>Categoria: {{ object.categoria }}</li>
        <li>Nombre: {{ object.nombre }}</li>
        <li>Descripción: {{ object.descripcion }}</li>
        <li>Precio: {{ object.precio }}</li>
        <li>Imagen: {{ object.imagen }}</li>
        <li>Fecha de creación: {{ object.fecha_actualizacion }}</li>
    </ul>

    {% include 'Inicio/index_back.html' %}
{% endblock CONTENIDO%}