{% extends 'home/base.html' %}

{% block TITULO %} Busqueda {% endblock TITULO%}

{% block CONTENIDO %}

    <h2> Nombre del cliente: </h2>
        {% for cliente in cliente_nombre %}
            <p>{{ cliente }}</p>
        {% endfor %}

    <h2> Nacimiento del cliente: </h2>
        {% for cliente in cliente_nacimiento %}
            <p>{{ cliente }}</p>
        {% endfor %}

    <h2>Pais del cliente:</h2>
        {% for cliente in cliente_pais %}
            <p>{{ cliente }}</p>
        {% endfor %}

    <h2>Documento del cliente:</h2>
        {% for cliente in cliente_documento %}
            <p>{{ cliente }}</p>
        {% endfor %}

    <h2>Telefono del cliente:</h2>
        {% for cliente in cliente_telefono %}
            <p>{{ cliente }}</p>
        {% endfor %}

    <h2>Mail del cliente:</h2>
        {% for cliente in cliente_mail %}
            <p>{{ cliente }}</p>
        {% endfor %}
        
    <a href="{% url 'home:home' %}">Ir a clientes</a>

{% endblock CONTENIDO %}